<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
</head>

<body>
<h3>睡觉时间记录</h3>
<br>
<div id="box" style="width: 1000px; height:500px; background-color: pink;"></div>
{% autoescape false %}
<script>
    let myChart = echarts.init(document.getElementById("box"));
    document.addEventListener('plusready', function() {
            var webview = plus.webview.currentWebview();
            plus.key.addEventListener('backbutton', function() {
                webview.canBack(function(e) {
                    if(e.canBack) {
                        webview.back();
                    } else {
                        // webview.close(); //hide,quit
                        // plus.runtime.quit();
                        //首页返回键处理
                        //处理逻辑：1秒内，连续两次按返回键，则退出应用；
                        var first = null;
                        plus.key.addEventListener('backbutton', function() {
                            //首次按键，提示‘再按一次退出应用’
                            if (!first) {
                                first = new Date().getTime();
                                console.log('再按一次退出应用');
                                setTimeout(function() {
                                    first = null;
                                }, 1000);
                            } else {
                                if (new Date().getTime() - first < 1500) {
                                    plus.runtime.quit();
                                }
                            }
                        }, false);
                    }
                })
            });
        });

    let option = {
        backgroundColor: '#FBFBFB',                  // -----------> // 给echarts图设置背景色
        tooltip: {
            trigger: 'axis'
        },
        legend: {
            data: ['时间差']
        },

        // calculable: true,


        xAxis: [{
            name: '日期',
            nameGap: 10, //刻度与Y轴线名字之间的距离
            // boundaryGap: false,
            data: function () {
                let list = {{ day }};
                return list;
            }()
        }],
        yAxis: [{
            name: '12点后(分钟）',
            type: 'value'
        }],
        series: [{
            name: '时间差',
            type: 'line',
            data: {{ delta_time }}
        }]
    };


    // 一定不要忘了这个，具体是干啥的我忘了，官网是这样写的使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

{% endautoescape %}
</body>

</html>
